.background    { background: rgb(25, 210, 201);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(255, 80, 120); }
.wall          { background: brown;   }
.floater	   { background: purple;  }

.actor  { position: absolute;  }
.coin   { background: rgb(220, 180, 75); }
.player { background: rgb(80, 80, 80); }

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

.lost .player {
  background: rgb(190, 80, 80);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}
